@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Website</h3>
    </header>
    <p>
        <span class="label">Link:</span>
        <span><a href="www.ericsingh.com">ericsingh.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Link:</span>
        <span><a href="mailto:Support@example.com">eric@ericsingh.com</a></span>
    </p>
</section>